**/.claude/
**/.codex/
**/.cline/
**/.clinerules/
**/AGENT.md
**/.cursor/
**/.qwen/
**/QWEN.md
**/.vscode/
**/.idea/
**/target/
**/node_modules/
**/dist/
**/logs/
**/__pycache__/
**/openspec/
**/.cursorignore
**/*.iml
**/.env
!**/.env.example
