MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me
MONGO_DATABASE=asskicker

JWT_SECRET=change-this-secret-to-at-least-32-characters

FRONTEND_PORT=8088

ASS_KICKER_CHANNEL_DEBUG_ENABLED=false
ASS_KICKER_SNOWFLAKE_DATACENTER_ID=0
ASS_KICKER_SNOWFLAKE_WORKER_ID=
